:root {
  --main-font: #4e5150;
  --secondary-font: #a9a9a9;
  --backgroundBubbles: #e5e5e5;
}

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: "Montserrat", sans-serif;
  font-size: 62.5%;
}
/* .header {
  width: 100%;
} */
.infoProfile {
  width: 100%;
  margin-top: 40px;
}
.infoProfile img {
  display: block;
  margin: auto;
  width: 100px;
  height: 100px;
  border-radius: 15px;
  margin-bottom: 10px;
}
.infoProfile h1 {
  font-size: 1.4rem;
  color: var(--main-font);
  font-weight: 600;
  text-transform: capitalize;
  text-align: center;
}
.infoProfile p {
  font-size: 1rem;
  color: var(--secondary-font);
  font-weight: 600;
  text-transform: capitalize;
  text-align: center;
}

.container-cards {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: row;
  margin-top: 12px;
  text-align: center;
}
.card {
  width: 80px;
  height: 50px;
  background-color: var(--backgroundBubbles);
  border-radius: 10px;
  margin-left: 20px;
  padding: 10px;
  text-transform: capitalize;
}
.card h2 {
  color: var(--main-font);
  text-align: center;
  font-size: 1.2rem;
}
.card p {
  color: var(--secondary-font);
  text-align: center;
  font-size: 1.2rem;
}
.container-main {
  width: 100%;
  margin: 40px 20px;
}
